<div class="dialog-container">
  <h2 mat-dialog-title>{{attributes.description}}</h2>
  <mat-dialog-content class="mat-typography">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource">

        <!-- Project Description Column -->
        <ng-container matColumnDef="projectDescription">
          <th mat-header-cell *matHeaderCellDef> Project </th>ng serve
          <td mat-cell *matCellDef="let element"> {{element.project_description}} </td>
        </ng-container>

        <!-- Responsible Column -->
        <ng-container matColumnDef="responsible">
          <th mat-header-cell *matHeaderCellDef> Responsible </th>
          <td mat-cell *matCellDef="let element"> {{element.responsible}} </td>
        </ng-container>

        <!-- Planned Hours Column -->
        <ng-container matColumnDef="plannedHours">
          <th mat-header-cell *matHeaderCellDef> Planned Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.planned_hours}} </td>
        </ng-container>

        <!-- Worked Hours Column -->
        <ng-container matColumnDef="workedHours">
          <th mat-header-cell *matHeaderCellDef> Worked Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.worked_hours}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
