.container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: auto;
}

.main {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-area: main;
  min-height: 80vh;
  height: fit-content;
}

.footer {
  grid-area: footer;
}

app-footer {
  margin-bottom: 0px;
}
